streamlit
PyPDF2
wordcloud
matplotlib
seaborn
plotly
pandas
scikit-learn
spacy
thinc  # Critical specific version
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
numpy